.app-title {
  font-size: 1.7rem;
  margin: 0 0 1em 0;
  color: #023251;
}

.btn {
  font-family: inherit;
  font-size: 1rem;
  margin-top: 1em;
  border: 0;
  background-color: transparent;
  color: #e66b6b;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  color: #bb2525;
}
